<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/"/>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/nya-bootstrap-select/dist/css/nya-bs-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='../bower_components/textAngular/dist/textAngular.css'>
    <link rel='stylesheet' href='../bower_components/font-awesome/css/font-awesome.min.css'>


    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body ng-app="jobs">

  <div ng-include="" src="'/views/navbar.html'"></div>

        <div ui-view></div>


    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/nya-bootstrap-select/dist/js/nya-bs-select.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/angular-moment/angular-moment.js"></script>
    <script src="../bower_components/moment/locale/lv.js"></script>
    <script src='../bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='../bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='../bower_components/textAngular/dist/textAngular.min.js'></script>
    <script src='../bower_components/ng-file-upload/ng-file-upload.min.js'></script>
    <script src='../bower_components/ng-file-upload/ng-file-upload-shim.min.js'></script>

    <script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/loginController.js"></script>
    <script src="../scripts/controllers/navbarController.js"></script>
    <script src="../scripts/controllers/signupController.js"></script>
    <script src="../scripts/controllers/jobsController.js"></script>
    <script src="../scripts/controllers/jobController.js"></script>
    <script src="../scripts/controllers/createJobsController.js"></script>
    <script src="../scripts/controllers/adminController.js"></script>
    <script src="../scripts/controllers/userJobsController.js"></script>
    <script src="../scripts/controllers/editJobsController.js"></script>
    <script src="../scripts/controllers/changePasswordController.js"></script>
    <script src="../scripts/controllers/applicationsController.js"></script>

    <script src="../scripts/services/Auth.js"></script>
    <script src="../scripts/services/User.js"></script>
    <script src="../scripts/directives/onFocus.js"></script>
    <script src="../scripts/directives/uniqueEmail.js"></script>
    <script src="../scripts/directives/autoActive.js"></script>
    <script src="../scripts/directives/selectPicker.js"></script>
    <script src="../scripts/services/Session.js"></script>
    <script src="../scripts/services/Jobs.js"></script>
    <script src="../scripts/services/Applications.js"></script>
    <script src="../scripts/services/Categories.js"></script>
    <script src="../scripts/services/WorkTimes.js"></script>
    <script src="../scripts/services/ExpireDays.js"></script>

  </body>
</html>
