<div class="container">
    <div class="jobs-container edit-page" ng-init="loadJobs()">
        <div class="jobs" ng-init="getFilteredJobs()">
            <table class = "table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Profesija</th>
                        <th>Atrašanās vieta</th>
                        <th>Slodze</th>
                        <th>Vadība</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="job in filteredJobs">
                        <td>{{job.profession}}</td>
                        <td>{{job.location}}</td>
                        <td>{{getWorkTime(job.workTimeId).title}}</td>
                        <td>
                            <div>
                                <a class="btn btn-default actionButton"><span class="glyphicon glyphicon-list-alt"></span></a>
                                <a ng-href="/jobs/edit/{{job._id}}" class="btn btn-default actionButton"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-default actionButton" ng-click="delete(job)"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="text-center">
                <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="getFilteredJobs()" items-per-page="itemsPerPage"></uib-pagination>
            </div>
        </div>
    </div>
</div>