<div class="container">
    <div class="applications-container" ng-init="loadApplications()">
        <div class="jobs">
            <table class = "table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Darba meklētājs</th>
                    <th>E-pasts</th>
                    <th>Pievienots</th>
                    <th>Vadība</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="application in applications">
                    <td>{{application.name}}</td>
                    <td>{{application.email}}</td>
                    <td>{{getDate(application.date)}}</td>
                    <td>
                        <div>
                            <a ng-href="{{application.cv}}" target="_self" class="btn btn-default actionButton"><span class="glyphicon glyphicon-download-alt"></span></a>
                            <a class="btn btn-default actionButton" ng-click="delete(application)"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>