<section class="job">
    <div class="job-header">
        <h2>{{job.profession}}</h2>
        <div class="worktime">
            <span class="worktime {{getWorkTime(job.worktime).css}}">{{getWorkTime(job.worktime).title}}</span>
        </div>
        <div class="company">
            {{job.company}}
        </div>
        <div class="location">
            <img ng-src="images/joblocation.png" />
            {{job.location}}
        </div>
        <div class="date">
            <img ng-src="images/jobdate.png" />
            <span>Pievienots {{date}}</span>
        </div>
    </div>
    <div class="container">
        <div class="job-content" ng-bind-html="job.description">
        </div>
        <div class="job-apply">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Pieteikties</button>

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>