<section class="job">
    <div class="job-header">
        <h2>{{job.profession}}</h2>
        <div class="worktime">
            <span class="worktime {{getWorkTime(job.worktime).css}}">{{getWorkTime(job.worktime).title}}</span>
        </div>
        <div class="company">
            {{job.company}}
        </div>
        <div class="location">
            <img ng-src="images/joblocation.png" />
            {{job.location}}
        </div>
        <div class="date">
            <img ng-src="images/jobdate.png" />
            <span>Pievienots {{date}}</span>
        </div>
    </div>
    <div class="container">
        <div class="job-content" ng-bind-html="job.description">
        </div>
        <div class="job-apply">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".applicationModal">Pieteikties</button>

            <div class="modal fade successApplication">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <p>Pieteikums nosūtīts!</p><br>
                        <button type='button' class='btn btn-default' data-dismiss='modal'>Aizvērt</button>
                    </div>
                </div>
            </div>
            <div class="modal fade applicationModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form ng-submit="apply()">
                            <div class="form-group">
                                <label class="control-label" for="applyName">Jūsu vārds un uzvārds</label>
                                <div class="controls">
                                    <input type="text" required ng-model="applyName" class="form-control" id="applyName" required="" class="form-control">
                                </div>
                                <label class="control-label" for="applyEmail">E-pasts</label>
                                <div class="controls">
                                    <input type="text" required ng-model="applyEmail" class="form-control" id="applyEmail" required="" class="form-control">
                                </div>
                                <div class="image">
                                    <label class="control-label" for="inputCV">CV</label>
                                    <button type="file" id="inputCV" ngf-select="uploadFiles($file, $invalidFiles)"
                                             ngf-max-size="5MB">
                                        Izvēlēties failu</button>
                                    <br>
                                    <span ng-show="applyFileName">Ielādēts: {{applyFileName}}</span>
                                    <p class="help-block"
                                       ng-show="errorMessage">
                                        {{errorMessage}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary pull-right">Pieteikties</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>