<div class="container">
    <div class="jobs-container" ng-init="loadJobs()">
        <div class="search">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 keywords">
                    <input type="text" ng-model="keywords" placeholder="Atslēgvārdi">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 location">
                    <input type="text" ng-model="location" placeholder="Atrašanās vieta">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 profession">
                    <ol class="nya-bs-select" data-size="5" ng-model="selectedProfessions" multiple data-live-search="true" title="Profesija...">
                        <li nya-bs-option="category in categories">
                            <a>
                                {{ category.title }}
                                <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 worktime">
                    <ol class="nya-bs-select" ng-model="selectedWorktimes" multiple data-live-search="true" title="Darba slodze...">
                        <li nya-bs-option="worktime in worktimes">
                            <a>
                                {{ worktime.title }}
                                <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="jobs" ng-init="getFilteredJobs()">
            <div class="row" ng-repeat="job in filteredJobs">
                <a ui-sref="jobs.job({ jobId: job._id})">
                    <div class="col-1 col-sm-2 col-md-1 col-lg-1 hidden-xs">
                        <img ng-src="{{job.image}}" />
                    </div>
                    <div class="col-2 col-xs-12 col-sm-10 col-md-6 col-lg-5">
                        <span class="profession">{{job.profession}}</span>
                        <span class="company">{{job.company}}</span>
                    </div>
                    <div class="col-3 col-md-5 col-lg-3 visible-md visible-lg">
                        <img ng-src="images/location.png" />
                        <span>{{job.location}}</span>
                    </div>
                    <div class="col-4 col-lg-3 visible-lg">
                        <span class="worktime {{getWorkTime(job.workTimeId).css}}">{{getWorkTime(job.workTimeId).title}}</span>
                        <span>Pievienots <time am-time-ago="{{formatDate(job.date)}}"></time></span>
                    </div>
                </a>
            </div>
            <div class="text-center">
                <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="getFilteredJobs()" items-per-page="itemsPerPage"></uib-pagination>
            </div>
        </div>
    </div>

</div>